.character-card {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    width: 80vw;
    min-height: 15vh;
    background-color: bisque;
}

@media (min-width: 576px) {
    .character-card {
        width: 25vw;
    }
}